.picker {
    grid-column: 6/10;
    grid-row: 2/3;
    //background: gray;
    padding-bottom: 50px;
    justify-self: center;
    align-self: end;
    
    

    input {
        font-size: 80px;
        font-family:"Roboto Condensed";
        font-weight: bold;
        color: $color-gray-dark;
        text-align: center;
        border:none;
        background-color: clear;
        border-bottom:2px solid #e3b924;
      
        &:focus {
            outline: none;
        }

    }
}

